.sqr-img {
  width: 200px;
}

.message {
  font-size: 3vw;
}

.list-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5%;
  grid-gap: 0;
  justify-content: center;
  width: 90%;
}

.imgList img {
  width: 100%;
  border: 1px solid lightgray;
  margin: -1px;
}

.jigsaw-puzzle {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
}

@media (max-width: 600px) {
  .jigsaw-puzzle {
    display: block;
    text-align: center;
  }
  .message {
    font-size: 4vw;
  }

  .original-img span {
    margin: 5%;
  }
  .small-img {
    max-width: 200px;
  }
  .btn-wrapper {
    display: inline-block;
  }
  .auto-btn,
  .shuffle-btn {
    display: inline-block;
  }
}

.original-img {
  display: inline-block;
  /* width: 90%; */
}
.original-img img {
  width: 80%;
  /* height: 150px; */
}

.btn-wrapper {
  justify-content: space-evenly;
}

.auto-btn,
.shuffle-btn {
  margin: 10px;
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  background: radial-gradient(rgb(236, 207, 242), grey);
}
