.Home-wrapper {
  margin-top: 2em;
}

.motto {
  font-family: "Baskervville", serif;
  font-size: 3vw;
  font-weight: lighter;
  color: rgb(62, 61, 61);
  text-shadow: 5px 5px 8px rgb(196, 193, 193);
}

.motto h1 {
  margin-top: 100px;
  font-weight: lighter;
}

@media (max-width: 550px) {
  .motto h1 {
    margin-top: 30%;
  }
}
