.About-container {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 60px auto;
  margin-bottom: 5px;
  margin-top: 10%;
  padding: 60px 20px;
  /* background-color: lightgray; */
  z-index: 3;
}

.About-newChapter {
  grid-column: 1/-1;
  font-size: 1.5em;
  text-align: left;
}

.About-newChapter h3 {
  text-align: center;
}

aside img {
  width: 450px;
  height: 400px;
}

main h2 {
  font-family: 'Baskervville', serif;
  font-style: italic;
}

/* main p {
  font-size: 1.5em;
  padding-left: 30px;
  padding-right: 10px;
  text-align: left;
} */

.btn-wrapper {
  grid-column: 1 / -1;
  text-align: right;
  padding-right: 10px;
}

.cv-btn {
  height: 60px;
  width: 150px;
  border-radius: 12px;
  font-size: 1.25em;
  border: 1px solid grey;
  background: radial-gradient(rgb(236, 207, 242), grey);
}
.cv-btn:hover {
  cursor: pointer;
  background: radial-gradient(grey, rgb(236, 207, 242));
  color: rgb(16, 16, 70);
}

@media (max-width: 640px) {
  .About-container {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
  }

  /* .About-newChapter {
    font-size: 1.2em;
  } */

  aside img {
    max-width: 350px;
    height: 300px;
  }
  .cv-btn {
    height: 50px;
    width: 150px;
    border-radius: 12px;
    font-size: 1.25em;
    border: 1px solid grey;
    background: radial-gradient(rgb(236, 207, 242), grey);
  }
}

/* @media (max-width: 800px) {
  .About-container {
    display: block;
    text-align: center;
  }
} */
