.side-drawer {
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px lightgrey;
  width: 70%;
  max-width: 180px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-family: "Tangerine", cursive;
  padding: 0;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: rgb(62, 61, 61);
  text-decoration: none;
  font-size: 1.5rem;
}

.side-drawer li:hover,
.side-drawer li:active {
  background-color: rgb(232, 221, 232);
}
.side-drawer a:hover,
.side-drawer a:active {
  color: rgb(128, 37, 37);
  text-shadow: 2px 3px 5px rgb(117, 117, 228);
}

@media (min-width: 641px) {
  .side-drawer {
    display: none;
  }
}
