.App-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: 4fr repeat(3, 1fr) 0.75fr;
  justify-content: center;
  background: linear-gradient(to left, rgb(195, 180, 198), rgb(244, 242, 242));
  font-family: "Baskervville", serif;
  box-shadow: 2px 5px 10px lightgrey;
}

.App-nav li {
  text-decoration: none;
}

.App-menu {
  text-align: center;
  align-items: center;
  padding-top: 13px;
}
.nav-menu a {
  text-decoration: none;
  font-size: 170%;
  font-weight: bold;
  color: rgb(62, 61, 61);
}

.nav-name {
  text-align: left;
  padding-left: 20px;
  font-family: "Baskervville", serif;
  color: rgb(62, 61, 61);
  font-weight: 100;
}
.App-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 10px;
}

.App-icons a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  cursor: pointer;
}

.cv-icon {
  padding-right: 10px;
  height: 25px;
}
.cv-icon:hover,
.github-icon:hover,
.linkedin-icon:hover {
  transform: scale(1.5);
}

.github-icon {
  padding-right: 10px;
  height: 25px;
}

.linkedin-icon {
  height: 25px;
}

.is-current {
  color: rgb(34, 34, 77);
  font-weight: bold;
  text-shadow: 3px 4px 5px rgb(147, 147, 210);
}

.App-nav {
  width: 100vw;
  height: 5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 60px;
  background-color: rgb(244, 242, 242);
  font-family: "Baskervville", serif;
  box-shadow: 2px 5px 10px lightgrey;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  list-style: none;
  padding-bottom: 15px;
  padding-left: 0;
  margin: auto 0;
}

.nav-link {
  color: inherit;
  text-decoration: none;
  font-size: 1.5em;
}
