.Contact {
  position: relative;
  text-align: center;
  color: white;
}

.responsive {
  width: 100vw;
  height: auto;
  opacity: 0.6;
}

.Contact-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.linkedin-link {
  text-decoration: none;
  color: rgb(146, 116, 189);
  margin: 0;
}

.contact-links {
  transition: all ease 0.3s;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.contact-links a {
  font-size: 2.5rem;
}
.contact-links a:hover {
  color: #be76cd;
}

.contact-offer {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(235, 231, 231);
  text-shadow: 2px 2px 3px rgb(73, 72, 72);
  margin: 0;
  padding: 20px;
  padding-bottom: 10px;
  white-space: pre;
}
.contact-offer:first-child {
  padding-top: 70px;
}

.contact-offer p {
  margin: 0;
}

.linkedin-link {
  margin: 5px;
}

#myVideo-contact {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
  z-index: -5;
}

.Contact-container {
  position: absolute;
  /* bottom: 0; */
  /* background: rgba(0, 0, 0, 0.2); */
  /* color: #f1f1f1; */
  width: 100%;
  padding: 3%;
  margin: 50px auto;
  z-index: -3;
  /* overflow: hidden; */
}
/* .contact-form {
  background-color: papayawhip;
  display: grid;
  grid-template-raw: repeat (2, 1fr) 2fr;
} */

@media (max-width: 768px) {
  .contact-offer:first-child {
    padding-top: 30px;
  }
  .contact-offer {
    font-size: 1.75rem;
    /* margin-top: 0; */
    padding: 10px;
  }
}

@media (max-width: 640px) {
  .contact-offer:first-child {
    padding-top: 50px;
  }
  .contact-offer {
    font-size: 1rem;
    /* margin-top: 0; */
    padding: 5px;
  }
  .contact-links a {
    font-size: 1rem;
  }
}
