.ProjectsList {
  background: linear-gradient(rgb(244, 240, 240), black);
  padding-top: 60px;
}

.ProjectsList-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  grid-gap: 8px;
  width: 80%;
  justify-content: center;
  padding-bottom: 30px;
}

.ProjectsList-project-container {
  width: 375px;
  height: 375px;
  background: linear-gradient(rgb(248, 246, 248), rgb(151, 160, 228));
  border: 2px solid rgb(248, 245, 240);
  border-radius: 15%;
  box-shadow: 5px 5px 20px rgb(71, 71, 78);
  margin: 10px auto;
  cursor: pointer;
  justify-content: center;
}

.ProjectsList-wrapper a {
  text-decoration: none;
  color: rgb(107, 60, 60);
  font-weight: bold;
}

.ProjectsList-project-box {
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}
.ProjectsList-project-box .project-overlay {
  height: 100%;
  background: radial-gradient(white, rgb(33, 19, 85));
  text-align: center;
  padding: 10%;
  border-radius: 5px;
  display: block;
  transition: all ease-out 0.3s;
  opacity: 0;
  color: rgb(107, 60, 60);
  font-size: 1.5rem;
}
.ProjectsList-project-box:hover .project-overlay {
  opacity: 0.95;
}

@media (max-width: 600px) {
  .ProjectsList-project-container {
    max-width: 300px;
    max-height: 270px;
  }
}
