.SingleProject-container {
  justify-content: center;
  /* margin-top: 100px; */
  /* margin-left: 30px; */
  padding-top: 70px;
  padding-bottom: 0;
  /* background-color: rgb(226, 198, 233); */
  background-image: url('/public/images/pawel-czerwinski-ncgbTwIZhNU-unsplash.jpg');
  height: 100%;
}

.SingleProject-wrapper {
  width: 80%;
  margin: 0 auto;
}

.SingleProject-image img {
  width: 600px;
  height: 450px;
  margin: 20px;
}

.SingleProject-details {
  text-align: left;
  font-size: 1.5em;
  padding-bottom: 50px;
}

.singleProject-nav-name {
  padding: 17px 20px;
  text-align: left;
  font-size: 1.5rem;
}

.singleProject-nav a {
  text-decoration: none;
  font-size: 130%;
  font-weight: bold;
  color: rgb(62, 61, 61);
  text-align: left;
}

@media (max-width: 600px) {
  .singleProject-nav {
    max-width: 590px;
  }
  .SingleProject-image {
    width: 90%;
    margin: 0;
  }
  .SingleProject-image img {
    max-width: 300px;
    max-height: 270px;

    margin: 0;
  }
  .SingleProject-details {
    text-align: left;
    font-size: 1.2em;
    margin: 20px;
    width: 90%;
  }
  .singleProject-links {
    margin-right: 5px;
  }
}

.singleProject-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-shadow: 2px 3px 10px lightgrey;
  background-color: rgb(230, 227, 227);
  border-bottom: 1px solid lightgray;
  font-family: 'Tangerine', cursive;
  z-index: 1;
  font-size: 1.5rem;
}
