* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: 'Baskervville', serif;
}

footer {
  height: 50%;
  width: 100%;
  position: relative;
  bottom: 0;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  background: linear-gradient(to right, rgb(195, 180, 198), rgb(244, 242, 242));
  font-family: 'Baskervville', serif;
  box-shadow: 2px -5px 5px lightgrey;
  font-style: italic;
}

footer div {
  padding-right: 30px;
  font-style: italic;
}

@media (max-width: 600px) {
  body {
    margin: 0 auto;
  }
  footer {
    font-size: 3.5vw;
    padding-right: 1%;
    padding-left: 2%;
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
